<div class="container">
    <h1 class="pt-5 d-flex justify-content-center">
        Bienvenidos a mi App
    </h1>

    <div class="pt-3 d-flex justify-content-center">
        <a 
            href="/cars"
            class="btn btn-dark btn-lg"
        >
            Comencemos
        </a>
    </div>
</div>